:root{
    --red: rgb(255, 63, 63);
    --yellow: rgb(255, 255, 101);
    --green: rgba(71, 255, 101, 0.986);
    --darkgreen: rgba(62, 199, 85, 0.986);
    --white: #FFF;
    --lightgrey: rgb(78, 255, 240);
}

body{
    padding: 0;
    margin: 0;
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.calculator-body{
    height: 500px;
    width: 400px;
    border: 20px solid var(--darkgreen);
    background-color: var(--darkgreen);
}

.display{
    height: 100px;
    margin-top: -40px;
    background-color: var(--lightgrey);
    text-align: right;
    line-height: 100px;
    font-size: 32px;
}

h2{
    margin-right: 5px;
}

.input-buttons{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    height: 380px;
    text-align: center;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 20px;
}

.input-buttons div{
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--darkgreen);
}

.input-buttons div:hover{
    cursor: pointer;
    background-color: var(--red);
    color: var(--white);
}