:root{
    --darkblue: #1A1A2E;
    --primary-btn: #4B72A1;
    --secondary-btn: #0F3460;
    --grey: #bebebe;
    --red: #E94560;
}

body{
    padding: 0;
    margin: 0;
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.calculator-body{
    height: 520px;
    width: min(280px, 80%);
    border-radius: 50px;
    border: 20px solid var(--darkblue);
    background-color: var(--darkblue);
}

.display{
    height: 150px;
    margin-top: -40px;
    background-color: var(--grey);
    border-radius: 30px;
    text-align: right;
    line-height: 150px;
    font-size: 32px;
}

h2{
    margin-right: 5px;
    overflow-x: scroll;
}

::-webkit-scrollbar{
    background-color: transparent;
    margin-bottom: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--secondary-btn);
    border-radius: 100vw;
}

.input-buttons{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 300px;
    gap: 10px;
    text-align: center;
    margin-top: 20px;
}

.input-buttons div{
    background-color: var(--primary-btn);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-buttons div:hover{
    cursor: pointer;
    background-color: var(--red);
}

.zero{
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 40px !important;
    width: 130px !important;
}

.submit{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    background-color: var(--secondary-btn) !important;
    height: 130px !important;
    border-radius: 40px !important;
    color: white;
    font-size: 34px;
}

.number,
.period{
    color: white;
}

.backspace{
    background-color: var(--red) !important;
}

.operator,
.clear {
    background-color: var(--grey) !important;
    font-size: 34px;
}

.operator:hover,
.clear:hover{
    background-color: var(--red) !important;
    color: white !important;
}
